* {
  text-decoration: none !important;
  list-style: none;
}
body {
  line-height: 24px;
  overflow: hidden !important;
}
::-webkit-scrollbar {
  width: 0.5rem;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  width: 0.5rem;
  border-radius: 10px;
  background: #343a40;
}
.cursor {
  cursor: pointer;
}
